@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'Socicon';
    src: url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.eot?xvgs9q');
    src: url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.eot?xvgs9q#iefix') format('embedded-opentype'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.woff2?xvgs9q') format('woff2'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.ttf?xvgs9q') format('truetype'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.woff?xvgs9q') format('woff'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.svg?xvgs9q#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

*,
 ::after,
 ::before {
    border: 0px solid;
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    border-color: currentcolor;
}

*,
 ::after,
 ::before {
    --tw-shadow: 0 0 #0000;
}

*,
 ::after,
 ::before {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

.cover-letter-page,
.cv-page {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    width: 21cm;
    margin: 0px auto !important;
}

#u63f5c06078832 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
}

#u63f5c06078832 * {
    font-size: 12px;
    line-height: 17px;
    font-family: Roboto;
    font-weight: 400;
}

#u63f5c06078832 .cv-template-base {
    position: relative;
    padding: 56px 56px 0px;
}

#u63f5c06078832 .header {
    display: block;
    margin: -56px -56px 0px;
    padding: 38px 19px 19px;
}

#u63f5c06078832 .header {
    background: rgb(64, 107, 140);
}

#u63f5c06078832 .header-infos {
    overflow: hidden;
    padding: 0px 0px 0px 28px;
}

#u63f5c06078832 .header-names {
    float: left;
    width: 420px;
}

.cover-letter-information,
.cover-letter-job-sought,
.cover-letter-username,
.cv-bio,
.cv-information,
.cv-job-sought,
.cv-username {
    position: relative;
}

#u63f5c06078832 .cv-username {
    display: block;
    margin-top: 8px;
}

#u63f5c06078832 .cv-username,
#u63f5c06078832 .cv-username span {
    font-size: 26px;
    line-height: 30px;
}

#u63f5c06078832 .cv-username {
    color: rgb(255, 255, 255);
}

#u63f5c06078832 .cv-username * {
    font-weight: bold;
}

#u63f5c06078832 .lastname {}

.cover-letter-username,
.cv-bio,
.cv-job-sought,
.cv-username .cover-letter-job-sought {
    cursor: pointer;
}

#u63f5c06078832 .cv-job-sought {
    display: block;
}

#u63f5c06078832 .cv-job-sought {
    font-size: 16px;
    line-height: 20px;
}

#u63f5c06078832 .cv-job-sought {
    color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
}

#u63f5c06078832 .header .etatcivil {
    overflow: hidden;
    padding-top: 8px;
}

#u63f5c06078832 .self_desription {
    /* overflow: hidden; */
    padding-top: 28px;
    text-align: justify;
    font-style: italic;
    color: rgb(102, 102, 102);
}

#u63f5c06078832 .etatcivil,
#u63f5c06078832 .block-html,
#u63f5c06078832 .block-csial .block-contents {
    padding: 6px 0px 0px 8px;
}

.ui-sortable-handle {
    touch-action: none;
}

.cv-information-line,
.letter-information-line {
    /* cursor: pointer; */
    text-decoration: none;
}

#u63f5c06078832 .cv-information-line {
    padding-left: 25px;
    position: relative;
    overflow-wrap: break-word;
}

#u63f5c06078832 .cv-information-line::before {
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    top: 1px;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    width: 20px;
}

#u63f5c06078832 .cv-information-line.EMAIL::before {
    content: "";
}

#u63f5c06078832 .cv-information-line {
    display: block;
    margin-top: 4px;
    color: rgb(85, 85, 85);
    font-size: 95%;
}

#u63f5c06078832 .header .cv-information-line {
    color: rgb(199, 199, 199);
}

a {
    color: inherit;
    text-decoration: none;
}

a,
img {
    outline: 0px;
}

/* .block-csial .content-container .info a,
.cv-information-line a,
.nt-username a {
    cursor: default;
    pointer-events: none;
} */

a {
    color: inherit;
    text-decoration: inherit;
}

a:focus,
button:focus {
    outline: 0px;
}

#u63f5c06078832 .cv-information-line.EMAIL a {
    color: inherit;
    text-decoration: none;
}

#u63f5c06078832 .cv-information-line.ADDRESS::before {
    content: "";
}

#u63f5c06078832 .cv-information-line.MOBILE_PHONE::before {
    content: "";
}

#u63f5c06078832 .colonnesContainer {
    position: relative;
    width: 100%;
}

#u63f5c06078832 .colonnesContainer::after {
    content: "";
    display: block;
    clear: both;
}

.ui-resizable {
    position: relative;
}

#u63f5c06078832 .colonneGauche {
    width: 400px;
    margin-right: 19px;
    margin-left: -19px;
    float: left;
}

#u63f5c06078832 .colonneGauche .colonneContenu {
    padding: 0px 19px 8px 0px;
}

#u63f5c06078832 .cv-block,
#u63f5c06078832 .etatcivilgauche {
    padding-top: 25px;
}

.cv-block-title {
    position: relative;
}

#u63f5c06078832 .cv-block-title {
    padding: 6px 10px 10px;
    display: block;
    color: rgb(51, 51, 51);
    font-weight: 700;
    border-bottom: 1px solid transparent;
}

#u63f5c06078832 .cv-block-title {
    padding: 8px;
    border-color: rgb(0, 152, 207);
}

.cv-block-title>.title-text {
    cursor: pointer;
    user-select: auto;
    z-index: 5;
    display: inline-block !important;
}

.medium-editor-element {
    overflow-wrap: break-word;
}

span.medium-editor-element {
    display: inline-block;
}

#u63f5c06078832 .cv-block-title .title-text,
#u63f5c06078832 .cv-block-title .title-text span {
    color: rgb(0, 152, 207);
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    font-family: Roboto;
}

#u63f5c06078832 .cv-information-line.BIRTH_DATE::before {
    content: "";
}

#u63f5c06078832 .cv-information-line.DRIVING_LICENSES::before {
    content: "";
}

#u63f5c06078832 .cv-information-line.CAR_OWNER::before {
    content: "";
}

#u63f5c06078832 .cv-information-line.GEO_MOBILITY::before {
    content: "";
}

.cv-container {
    position: relative;
}

.addBlockBlurContainer {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: calc(100% - 10px);
    left: 0px;
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 24;
}

.addBlockButtonContainer {
    background: rgb(255, 255, 255);
    box-shadow: rgb(68, 68, 68) 1px 1px 2px;
    cursor: pointer;
    display: none;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 20px;
    transform: translate(-50%);
    width: 150px;
    z-index: 25;
    color: rgb(51, 51, 51) !important;
    font-family: Roboto !important;
    padding: 10px 0px !important;
}

.fa {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
}

.fa-plus::before {
    content: "";
}

.addBlockButtonContainer span {
    color: rgb(51, 51, 51) !important;
    font-family: FontAwesome !important;
}

.addBlockContainer {
    box-shadow: rgb(68, 68, 68) 1px 1px 2px;
    display: none;
    left: 50%;
    position: absolute;
    top: 70px;
    transform: translate(-50%);
    width: 250px;
    z-index: 26;
    font-family: Roboto !important;
}

.cv-block {
    /* cursor: pointer; */
}

#u63f5c06078832 .cv-container div.cv-block:first-of-type .cv-block-title {
    border-top: 0px;
}

.cv-block-title>.options {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: all 0.1s linear 0s;
    z-index: 18;
    padding: 2px !important;
}

.cv-block-title>.options::after {
    clear: both;
    content: " ";
    display: block;
}

.cv-block-title>.options>.add,
.cv-block-title>.options>.delete,
.cv-block-title>.options>.edit,
.cv-block-title>.options>.editIcon,
.cv-block-title>.options>.move {
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;
    font-size: 15px !important;
    line-height: 18px !important;
}

.cv-block-title>.options>.add::before,
.cv-block-title>.options>.delete::before,
.cv-block-title>.options>.edit::before,
.cv-block-title>.options>.editIcon::before,
.cv-block-title>.options>.move::before {
    display: inline-block;
    font-family: FontAwesome;
    position: relative;
    color: rgb(191, 191, 191) !important;
    font-weight: 400 !important;
    margin: 2px 4px !important;
}

.cv-block-title>.options>.delete::before {
    content: "";
}

.cv-block-title>.options>.move {
    cursor: pointer;
}

.cv-block-title>.options>.move::before {
    content: "";
}

.cv-block-title>.options>.add {
    flex-shrink: 0;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.cv-block-title>.options>.add::before {
    content: "";
}

.cv-block-title>.options>.add i {
    font-style: normal;
    vertical-align: 1px;
    color: rgb(250, 250, 250) !important;
    font-family: gilroyextrabold !important;
    font-size: 11px !important;
    letter-spacing: 0.3px !important;
    line-height: inherit !important;
    text-transform: uppercase !important;
}

.title-text span {
    display: block !important;
}

.content-container {
    /* cursor: pointer; */
    position: relative;
}

#u63f5c06078832 .cv-content {
    padding: 0px;
    margin-bottom: 2px;
}

#u63f5c06078832 .formation {
    padding: 11px 0px 0px 8px;
}

#u63f5c06078832 .formation-label {
    display: inline;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

#u63f5c06078832 .formation-place {
    color: rgb(68, 68, 68);
    display: inline;
}

#u63f5c06078832 .formation-place::before {}

#u63f5c06078832 .formation-school {}

#u63f5c06078832 .experience-company,
#u63f5c06078832 .formation-school {
    color: rgb(0, 152, 207);
    font-size: 14px;
}

#u63f5c06078832 .formation-date {
    color: rgb(68, 68, 68);
    display: block;
    margin-top: 4px;
}

#u63f5c06078832 .formation-date-dot {}

#u63f5c06078832 .formation-content {
    overflow: hidden;
}

#u63f5c06078832 .formation-details {
    color: rgb(68, 68, 68);
    display: block;
}

#u63f5c06078832 .formation .formation-details,
#u63f5c06078832 .pro-experience .experience-details {
    color: rgb(68, 68, 68);
    margin-top: 0px;
}

#u63f5c06078832 .formation .formation-details,
#u63f5c06078832 .pro-experience .experience-details {
    margin-top: 15px;
}

#u63f5c06078832 .formation .formation-details {
    margin-top: 2px;
}

.app__document-editor__center-paper__content>.cvdr-editor-wrapper .cvdr-editor li,
.app__document-editor__center-paper__content>.cvdr-editor-wrapper .cvdr-editor ol,
.app__document-editor__center-paper__content>.cvdr-editor-wrapper .cvdr-editor ul {
    list-style: inherit;
}

fieldset,
ol,
ul {
    margin: 0px;
    padding: 0px;
}

ol,
ul {
    list-style: none;
}

#u63f5c06078832 ul {
    margin: 0px;
    padding: 0px 0px 0px 11px;
}

#u63f5c06078832 ul {
    margin: 0px;
    padding: 2px 0px 2px 19px;
    color: rgb(102, 102, 102);
}


/* #u63f5c06078832 .formation .formation-details ul,
#u63f5c06078832 .pro-experience .experience-details ul {
    padding-left: 15px;
} */

#u63f5c06078832 ul li {
    /* list-style-type: square; */
    padding: 0px;
    margin: 0px 0px 3px;
}

#u63f5c06078832 .formation .formation-details ul li,
#u63f5c06078832 .pro-experience .experience-details ul li,
#u63f5c06078832 .info-line-content ul li {
    /* list-style-type: square; */
}

#u63f5c06078832 ul li:last-child {
    margin-bottom: 0px;
}

.block-html>.buttons,
.content-container>.buttons {
    background: rgb(255, 255, 255);
    border-radius: 0px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.1s linear 0s;
    z-index: 8;
}

.content-container>.buttons {
    z-index: 19;
}

.block-html>.buttons::after,
.content-container>.buttons::after {
    clear: both;
    content: " ";
    display: block;
}

#u63f5c06078832 .pro-experience {
    padding: 11px 0px 0px 8px;
}

#u63f5c06078832 .experience-label {
    display: inline;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

#u63f5c06078832 .experience-place {
    color: rgb(68, 68, 68);
    display: inline;
}

#u63f5c06078832 .experience-place::before {}

#u63f5c06078832 .experience-company {}

#u63f5c06078832 .experience-city {}

#u63f5c06078832 .experience-date {
    color: rgb(68, 68, 68);
    display: block;
    margin-top: 4px;
}

#u63f5c06078832 .experience-date-dot {}

#u63f5c06078832 .experience-content {
    overflow: hidden;
}

#u63f5c06078832 .experience-details {
    color: rgb(68, 68, 68);
    display: block;
    margin-top: 15px;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0px;
}

#u63f5c06078832 .formation .formation-details p,
#u63f5c06078832 .pro-experience .experience-details p {
    margin: 4px 0px;
    display: block;
}

#u63f5c06078832 .asset {
    padding: 11px 0px 0px 8px;
    font-size: 1em;
}

#u63f5c06078832 .cv-asset-label {
    font-weight: 700;
    min-height: 1px;
    float: left;
    width: 132px;
    padding-right: 8px;
}

#u63f5c06078832 .cv-asset-details {
    color: rgb(68, 68, 68);
    overflow: hidden;
    display: block;
}

#u63f5c06078832 .cv-asset-details .percent {
    display: block;
    height: 7px;
    width: 90%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    margin: 4px 0px;
    position: relative;
    border-radius: 1px;
}

#u63f5c06078832 .cv-asset-details .percent .set-p {
    background: rgb(204, 204, 204);
    height: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 1px;
}

#u63f5c06078832 .cv-asset-details .percent .set-p {
    background-color: rgb(0, 152, 207);
}

.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
    touch-action: none;
}

.ui-resizable-e {
    cursor: e-resize;
    height: 100%;
    right: -5px;
    top: 0px;
    width: 7px;
}

.ui-resizable:not(.cv-photo):not(.cv-picture)>.ui-resizable-handle {
    border-left: 1px dashed transparent;
    transition: all 0.3s linear 0s;
    z-index: 1 !important;
}

.ui-resizable:not(.cv-photo):not(.cv-picture)>.ui-resizable-handle {
    cursor: grab;
}

.ui-resizable:not(.cv-photo):not(.cv-picture)>.ui-resizable-handle.ui-resizable-e {
    height: 100%;
    right: 0px;
    top: 0px;
    width: 1px;
}

.ui-resizable:not(.cv-photo):not(.cv-picture)>.ui-resizable-handle .ui-resizable-cursor {
    background: url("/build/images/resize.5d8bbfdc.svg") 50% center / 20px no-repeat rgba(255, 255, 255, 0.698);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    content: "";
    height: 45px;
    left: -13px;
    max-width: 0px;
    opacity: 0;
    position: absolute;
    top: 25%;
    transition: opacity 0.3s ease 0s;
    width: 25px;
}

#u63f5c06078832 .colonneDroite {
    /* width: 350px;
    margin-right: -19px;
    float: left; */
    width: 283px;
    margin-right: -21px;
    float: right;
}

#u63f5c06078832 .block-csial .content-container {
    position: relative;
    overflow-wrap: break-word;
    word-break: break-word;
}

#u63f5c06078832 .block-csial .content-container {
    margin-top: 4px;
}

#u63f5c06078832 .block-csial .content-container .socnrk-icon {
    text-align: left;
}

#u63f5c06078832 .block-csial .content-container .socnrk-icon::before {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
    background-size: contain;
    background-position: center center;
}

#u63f5c06078832 .block-csial .content-container .socnrk-icon {
    position: relative;
    top: 6px;
}

#u63f5c06078832 .block-csial .content-container a {
    color: #000;
}

#u63f5c06078832 .nt-name.socnrk-icon {
    height: 18px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 18px;
}

#u63f5c06078832 .socnrk-icon::before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family: Socicon !important;
}

#u63f5c06078832 .socnrk-icon.facebook::before {
    content: "";
}

#u63f5c06078832 .nt-username {
    display: inline-block;
}

#u63f5c06078832 .block-csial .content-container .nt-username {
    width: calc(100% - 22px);
    vertical-align: top;
}

#u63f5c06078832 .socnrk-icon.linkedin::before {
    content: "";
}

#u63f5c06078832 .socnrk-icon.instagram::before {
    content: "";
}

/* #u63f5c06078832 .socnrk-icon.youtube::before {
    content: "";
} */

.cv-pages-list .cv-page-separator {
    height: 55px;
    position: relative;
}

#u63f5c06078832 .cv-template-base.p2 {
    padding-top: 28px;
    padding-bottom: 28px;
}

#u63f5c06078832 .cv-info-line {
    padding: 11px 0px 0px 8px;
    font-size: 1em;
}

#u63f5c06078832 .info-line-title {
    display: block;
    float: left;
    width: 132px;
    padding-right: 8px;
    min-height: 1px;
    font-weight: 700;
}

#u63f5c06078832 .info-line-content {
    display: block;
    overflow: hidden;
    color: rgb(68, 68, 68);
}

.cv-pages-list .page-number {
    left: 0px;
    position: absolute;
    top: -0.8cm;
}

.cv-pages-list .page-number span {
    color: rgb(119, 119, 119) !important;
    font-family: Roboto !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    line-height: normal !important;
    text-transform: uppercase !important;
}

.show-more-page {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(234, 234, 234));
    text-align: center;
    padding: 15px 0px !important;
}

.btn {
    border-radius: 2px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}

.btn-pink {
    background: rgb(240, 78, 152);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
}

.btn:active,
.btn:focus {
    outline: 0px;
}

.btn-gilroy {
    font-family: gilroyextrabold;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.btn {
    cursor: pointer;
    display: block;
    transition: all 0.2s linear 0s;
    padding: 10px !important;
}

.btn.btn-gilroy {
    font-family: gilroyextrabold;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.show-more-page .btn {
    display: inline-block;
    float: none;
    font-family: gilroyextrabold !important;
    font-size: 10px !important;
    line-height: normal !important;
    text-transform: uppercase !important;
}

.show-more-page .btn-pink {
    color: rgb(255, 255, 255) !important;
}

#u63f5c06078832 .tile_project {
    font-weight: bold;
    font-size: 13px;
}

#u63f5c06078832 .tile_project::after {
    content: ':';
    font-weight: bold;
}

.project_name+p,
.project_name+p+p {
    color: #000;
    text-align: justify;
}

.source_project {
    display: none;
}

#u63f5c06078832 .project_name~ul li {
    list-style-type: none;
    clear: both;
}

#u63f5c06078832 .project_name~ul:first-of-type {
    margin-top: 7px;
}

#u63f5c06078832 .project_name~ul li::before {
    content: "\25A0";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #000;
    /* Change the color */
    font-weight: bold;
    position: absolute;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 0.2em;
    height: 0.2em;
    margin-top: -0.16em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1.5em;
    /* margin-right: 1em; */
    /* Also needed for space (tweak if needed) */
}

#u63f5c06078832 .pro-experience {
    padding-left: 0;
}

#u63f5c06078832 .project_name~ul+p {
    display: none !important;
}

#u63f5c06078832 .inline-list {
    padding-left: 0 !important;
    margin-top: 5px;
}

#u63f5c06078832 .inline-list li {
    display: inline;
    color: #000;
    font-weight: 600;
    font-size: 12px;
}

#u63f5c06078832 .inline-list li::before {
    display: none !important;
}


/* #u63f5c06078832 .inline-list li:is(:not(:last-child))::after {
    content: ',';
} */

#u63f5c06078832 .inline-list li::after {
    content: ',';
}

#u63f5c06078832 .inline-list li:last-child::after {
    content: '';
}

#u63f5c06078832 .cv-asset-details a:not(:empty) {
    color: blue;
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
}


/* @media print {
    .cv-pages-list {
        display: none;
    }
} */

#u63f5c06078832 .self_desription {
    padding-left: 13px;
    padding-top: 13px;
}

#u63f5c06078832 .formation,
#u63f5c06078832 .asset,
#u63f5c06078832 .cv-info-line {
    padding-left: 0;
}

#u63f5c06078832 .block-contents {
    padding-left: 10px;
}

#u63f5c06078832 .columns-PRO_EXPERIENCES {
    padding-left: 10px;
    margin-top: 0px;
}

#u63f5c06078832 .columns-PRO_EXPERIENCES+.columns-PRO_EXPERIENCES {
    margin-top: 20px;
}

.celibat-div .user-icons {
    width: 15px;
    margin-right: 3px !important;
    fill: rgb(85, 85, 85);
}

#u63f5c06078832 .celibat-div {
    padding-left: 4px;
}


/** Ajouts **/


/* .block-education */

.block-education {
    margin-bottom: 0vh;
}

#bloc_atouts {
    break-before: page;
}

a {
    color: #0000ee;
}

.nt-username a {
    position: relative;
    top: 4px;
}

.break-before {
    break-before: page;
}

.lastpage {
    margin-bottom: 82vh;
}

.emploi_type {
    font-weight: 700 !important;
    color: initial;
}

@media print {
    #bloc_atouts {
        padding-top: 0;
        margin-top: 20px;
    }
    #bloc_reference {
        /* margin-top: 53px !important; */
        padding-top: 0 !important;
    }
    @page {
        padding-top: 20px;
    }
    /* .source_project:nth-of-type(5) {
        margin-bottom: 70px;
    } */
    #breaked:not(li) {
        margin-top: 20px;
        display: inline-block !important;
    }
    li#breaked {
        padding-top: 20px !important;
        display: list-item;
    }
    #breaked_paragraph {
        padding-top: 25px !important;
    }
    .cover-letter-page,
    .cv-page {
        background-color: rgb(255, 255, 255);
        box-shadow: unset;
        width: 21cm;
        margin: 0px auto !important;
    }
    @page {
        size: A4;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #certification-title{
        margin-top: 1vh;
        display: block;
    }
}

.formation-place {
    display: block !important;
}